<a href="https://colab.research.google.com/github/ppokranguser/Algorithm_study/blob/main/14%E1%84%80%E1%85%B5_%E1%84%86%E1%85%A6%E1%86%B7%E1%84%87%E1%85%A5_%E1%84%8F%E1%85%A9%E1%84%83%E1%85%B5%E1%86%BC%E1%84%90%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%B3_%E1%84%86%E1%85%AE%E1%86%AB%E1%84%8C%E1%85%A6%E1%84%8C%E1%85%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이 코딩 테스트는 총 100점 만점이며, 세 개의 섹션으로 구성되어 있습니다.

- 테스트를 시작하기 전에 필요한 패키지를 먼저 실행해 주신 후 진행하시면 됩니다.
- 반드시 .ipynb 파일 형식으로 저장 후 다음의 구글폼으로 제출해 주세요! https://docs.google.com/forms/d/1MeKTUtoUvWv64kRmD2yjMt8xvFF5Q1hcNeyPRs4nhlI/viewform
- 제출하실 땐 14기_멤버_코딩테스트_문제지_홍길동 과 같이 마지막에 이름도 추가해주세요.

### 필요 패키지 import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1부: 파이썬, numpy, pandas 기초 (20점)

1.1 오늘의 날짜, 자신의 이름, 자신의 생일, MBTI를 리스트로 저장하고 그것을 Series의 형태로 변환하여 출력하세요.(3점)

출력 예시:

![image.png]()

In [3]:
import pandas as pd
from datetime import date

# 오늘 날짜, 이름, 생일, MBTI를 리스트로 저장
data = [str(date.today()), "김성민", "2002-10-13", "INFP"]

# 리스트를 pandas Series로 변환
series = pd.Series(data)

# 출력
print(series)

0    2025-01-01
1           김성민
2    2002-10-13
3          INFP
dtype: object

1.2 정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요. (4점)

In [5]:
def solution(number, n, m):
    if number % n == 0 and number % m == 0 :
        return 1
    else:
        return 0

solution(99, 3, 11) #1을 출력해야 합니다.

1

1.3 딕셔너리를 사용하여 다음의 DataFrame 모양을 만들어 출력하세요.(DataFrame은 df로 저장해주세요) (4점)

![image.png]()

In [6]:
import pandas as pd

# 딕셔너리 생성
data = {
    "수학": [95, 95, 80],
    "화학": [100, 85, 90],
    "물리": [90, 95, 80],
    "생물": [80, 100, 70]
}

# 딕셔너리를 DataFrame으로 변환
df = pd.DataFrame(data, index=["학생1", "학생2", "학생3"])

# DataFrame 출력
print(df)

     수학   화학  물리   생물
학생1  95  100  90   80
학생2  95   85  95  100
학생3  80   90  80   70

1.4 위에서 만들어진 df의 수학 열 전에 '국어'열을 추가하세요. 학생1의 점수는 95, 학생2의 점수는 85, 학생 3의 점수는 65로 지정해주세요. (5점)

출력 예시:

![image.png]()

In [7]:
# "국어" 열 추가
df.insert(0, "국어", [95, 85, 65])

# DataFrame 출력
print(df)

     국어  수학   화학  물리   생물
학생1  95  95  100  90   80
학생2  85  95   85  95  100
학생3  65  80   90  80   70

1.5 새로 만들어진 df에 '평균'열을 추가하고, 다섯 과목의 평균 점수를 계산해주세요.(4점)

출력예시:

![image.png]()

In [10]:

# 평균 열 추가
df["평균"] = df.mean(axis=1)

# DataFrame 출력
print(df)

     국어  수학   화학  물리   생물    평균
학생1  95  95  100  90   80  92.0
학생2  85  95   85  95  100  92.0
학생3  65  80   90  80   70  77.0

### 2부 : DataFrame활용 및 전처리 (35점)

2.1 order.csv 파일을 불러오고 order_df 변수에 저장하여 맨 위에 5개 행을 출력하세요. (3점)

출력 예시:

![image.png]()

In [12]:
import pandas as pd

# CSV 파일 읽기
order_df = pd.read_csv("orders.csv")

# 맨 위 5개 행 출력
print(order_df.head(5))

   order_id      order_timestamp  order_details_id       pizza_id  quantity
0         1  2023-01-01 11:45:11                 1     hawaiian_m         1
1         2  2023-01-01 11:53:26                 2     big_meat_l         1
2         2  2023-01-01 11:53:26                 3  classic_dlx_m         1
3         2  2023-01-01 11:53:26                 4  five_cheese_l         1
4         2  2023-01-01 11:53:26                 5       potato_m         1

2.2 pizzas.csv도 똑같은 방법으로 불러와 pizzas_df 변수에 저장해주세요. (3점)

In [18]:
# CSV 파일 읽기
pizzas_df = pd.read_csv("pizzas.csv")

# 맨 위 5개 행 출력
print(pizzas_df.head(5))

     pizza_id pizza_name size  price
0   bbq_ckn_s  바비큐 치킨 피자    S  11300
1   bbq_ckn_m  바비큐 치킨 피자    M  22000
2   bbq_ckn_l  바비큐 치킨 피자    L  34000
3  thai_ckn_s   타이 치킨 피자    S  12300
4  thai_ckn_m   타이 치킨 피자    M  24000

2.3 pizza_types.csv도 똑같은 방법으로 불러와 pizza_types_df 변수에 저장해주세요. (3점)

In [22]:
# CSV 파일 읽기
pizzas_types_df = pd.read_csv("pizza_types.csv")

# 맨 위 5개 행 출력
print(pizzas_types_df.head(5))

   pizza_name category                      ingredients
0   바비큐 치킨 피자       치킨         치킨, 피망, 토마토, 적양파, 바비큐 소스
1    타이 치킨 피자       치킨      치킨, 파인애플, 토마토, 피망, 타이 칠리 소스
2     빅 미트 피자      클래식         베이컨, 토마토, 페퍼로니, 살라미, 초리조
3  클래식 디럭스 피자      클래식      토마토, 페퍼로니, 버섯, 적양파, 피망, 베이컨
4   슈퍼 슈프림 피자      클래식  페퍼로니, 토마토, 적양파, 그린 올리브, 옥수수, 마늘

2.4 세 데이터프레임을 하나로 합쳐보겠습니다. 먼저, orders_df를 핵심 데이터로, pizzas_df을 보조 데이터로 두고, 'pizza_id' 컬럼을 기준으로 left방식으로 조인해주세요. 해당 데이터프레임을 merged_orders_df으로 저장하고, 첫 5개의 행을 출력해주세요. (5점)

In [20]:
# 'pizza_id'를 기준으로 left 방식으로 조인
merged_orders_df = pd.merge(order_df, pizzas_df, on="pizza_id", how="left")

# 첫 5개 행 출력
print(merged_orders_df.head(5))

   order_id      order_timestamp  order_details_id       pizza_id  quantity  \
0         1  2023-01-01 11:45:11                 1     hawaiian_m         1
1         2  2023-01-01 11:53:26                 2     big_meat_l         1
2         2  2023-01-01 11:53:26                 3  classic_dlx_m         1
3         2  2023-01-01 11:53:26                 4  five_cheese_l         1
4         2  2023-01-01 11:53:26                 5       potato_m         1

   pizza_name size  price
0     하와이안 피자    M  21800
1     빅 미트 피자    L  34000
2  클래식 디럭스 피자    M  20300
3   파이브 치즈 피자    L  31000
4     포테이토 피자    M  21800

2.5 price컬럼은 피자의 단가를 나타냅니다. 주문 내역별로 실제 금액을 계산하려면 단가에 주문 수를 곱해야합니다. quantity컬럼과 price컬럼을 곱하고, 해당 값을 새로운 total_price컬럽에 저장해주세요. 이번에도 첫 5개의 행을 출력해주세요. (4점)

In [21]:
# 주문 금액 계산
merged_orders_df["total_price"] = merged_orders_df["quantity"] * merged_orders_df["price"]

# 첫 5개 행 출력
print(merged_orders_df.head(5))

   order_id      order_timestamp  order_details_id       pizza_id  quantity  \
0         1  2023-01-01 11:45:11                 1     hawaiian_m         1
1         2  2023-01-01 11:53:26                 2     big_meat_l         1
2         2  2023-01-01 11:53:26                 3  classic_dlx_m         1
3         2  2023-01-01 11:53:26                 4  five_cheese_l         1
4         2  2023-01-01 11:53:26                 5       potato_m         1

   pizza_name size  price  total_price
0     하와이안 피자    M  21800        21800
1     빅 미트 피자    L  34000        34000
2  클래식 디럭스 피자    M  20300        20300
3   파이브 치즈 피자    L  31000        31000
4     포테이토 피자    M  21800        21800

2.6 이젠 merged_orders_df과 pizza_types_df을 합치겠습니다. merged_orders_df를 핵심 데이터로, pizza_types_df을 보조 데이터로 두고, 'pizza_name'을 기준으로 left방식으로 조인해주세요. 해당 데이터프레임은 pizza_orders_df이란 변수에 저장하고, 첫 5행을 출력해주세요. (5점)

In [23]:
# 'pizza_id'를 기준으로 left 방식으로 조인
pizza_orders_df = pd.merge(merged_orders_df, pizzas_types_df, on="pizza_name", how="left")

# 첫 5개 행 출력
print(pizza_orders_df.head(5))

   order_id      order_timestamp  order_details_id       pizza_id  quantity  \
0         1  2023-01-01 11:45:11                 1     hawaiian_m         1
1         2  2023-01-01 11:53:26                 2     big_meat_l         1
2         2  2023-01-01 11:53:26                 3  classic_dlx_m         1
3         2  2023-01-01 11:53:26                 4  five_cheese_l         1
4         2  2023-01-01 11:53:26                 5       potato_m         1

   pizza_name size  price  total_price category  \
0     하와이안 피자    M  21800        21800      스페셜
1     빅 미트 피자    L  34000        34000      클래식
2  클래식 디럭스 피자    M  20300        20300      클래식
3   파이브 치즈 피자    L  31000        31000    베지테리언
4     포테이토 피자    M  21800        21800      스페셜

                                   ingredients
0                      토마토, 베이컨, 파인애플, 모짜렐라 치즈
1                     베이컨, 토마토, 페퍼로니, 살라미, 초리조
2                  토마토, 페퍼로니, 버섯, 적양파, 피망, 베이컨
3  모짜렐라 치즈, 프로볼로네 치즈, 고다 치즈, 페코리노 치즈, 고르곤졸라 치즈
4         모짜렐라 치즈, 토마토, 감자, 양파, 베이컨, 옥수수, 마요네즈

2.7 각 컬럼의 데이터 타입과 결측값 여부를 확인해주세요. (3점)

In [24]:
# 데이터프레임 정보 출력 (데이터 타입 확인)
print(pizza_orders_df.info())

# 각 컬럼의 결측값 확인
print("\n결측값 확인:")
print(pizza_orders_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47079 entries, 0 to 47078
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          47079 non-null  int64
 1   order_timestamp   47079 non-null  object
 2   order_details_id  47079 non-null  int64
 3   pizza_id          47079 non-null  object
 4   quantity          47079 non-null  int64
 5   pizza_name        47079 non-null  object
 6   size              47079 non-null  object
 7   price             47079 non-null  int64
 8   total_price       47079 non-null  int64
 9   category          47079 non-null  object
 10  ingredients       47079 non-null  object
dtypes: int64(5), object(6)
memory usage: 4.0+ MB
None

결측값 확인:
order_id            0
order_timestamp     0
order_details_id    0
pizza_id            0
quantity            0
pizza_name          0
size                0
price               0
total_price         0
category            0
ingredients         0
dtype: int64

2.8 각 컬럼의 통계량도 확인해주세요. 정수형 컬럼들만 확인해주세요. (3점)

In [25]:
# 정수형 컬럼들에 대한 통계량 확인
print(pizza_orders_df.describe())

           order_id  order_details_id      quantity         price  \
count  47079.000000      47079.000000  47079.000000  47079.000000
mean   10708.712058      23540.000000      1.052996  22945.597825
std     6175.450615      13590.680998      0.242338   9376.523771
min        1.000000          1.000000      1.000000   9300.000000
25%     5352.500000      11770.500000      1.000000  11300.000000
50%    10696.000000      23540.000000      1.000000  21800.000000
75%    16100.500000      35309.500000      1.000000  32300.000000
max    21350.000000      47079.000000      5.000000  38800.000000

         total_price
count   47079.000000
mean    24233.356698
std     11887.470629
min      9300.000000
25%     12300.000000
50%     22000.000000
75%     33800.000000
max    169000.000000

2.9 현재 order_timestamp 컬럼은 object로 지정이 되어 있습니다. 해당 컬럼을 날짜와 시간을 나타내는 datetime 타입으로 바꿔주세요. (3점)

In [26]:
# 'order_timestamp' 컬럼을 datetime 타입으로 변환
pizza_orders_df['order_timestamp'] = pd.to_datetime(pizza_orders_df['order_timestamp'])

# 변환 후 데이터 확인
print(pizza_orders_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47079 entries, 0 to 47078
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          47079 non-null  int64
 1   order_timestamp   47079 non-null  datetime64[ns]
 2   order_details_id  47079 non-null  int64
 3   pizza_id          47079 non-null  object
 4   quantity          47079 non-null  int64
 5   pizza_name        47079 non-null  object
 6   size              47079 non-null  object
 7   price             47079 non-null  int64
 8   total_price       47079 non-null  int64
 9   category          47079 non-null  object
 10  ingredients       47079 non-null  object
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 4.0+ MB
None

2.10 order_timestamp컬럼에 적절한 함수를 적용해서 첫 주문 일시와 마지막 주문 일시를 출력해주세요. (3점)

출력 예시:

![image.png]()

In [27]:
# 첫 주문 일시
first_order_time = pizza_orders_df['order_timestamp'].min()

# 마지막 주문 일시
last_order_time = pizza_orders_df['order_timestamp'].max()

# 출력
print(f"첫 주문 일시: {first_order_time}")
print(f"마지막 주문 일시: {last_order_time}")

첫 주문 일시: 2023-01-01 11:45:11
마지막 주문 일시: 2023-12-31 21:56:56

### 3부 : 분석 (45점)

3.1 3부에서는 이 피자 가게가 한 해 동안 어떻게 영업을 했고 어떤 성과를 거우었는지 종합적으로 결산을 해보겠습니다. 먼저, 영업일이 며칠이었는지 파악을 해보겠습니다. pizza_orders_df의 order_timestamp컬럼은 시간을 나타내는데, 이 컬럼에서 unique한 날짜 수를 세면 영업일 수를 구할 수 있습니다. dt.date과 nunique() 함수를 써서 total_days라는 변수에 총 영업일을 계산해서 저장하고 출력까지 해주세요. (7점)

In [28]:
# 날짜만 추출하고 고유값 수 계산
total_days = pizza_orders_df['order_timestamp'].dt.date.nunique()

# 결과 출력
print(f"총 영업일 수: {total_days}")

총 영업일 수: 358

3.2 다음으로는 총매출을 구해 보겠습니다. total_price컬럼은 이미 상세 주문별로 피자 단가와 수량을 곱해 둔 컬럼입니다. 그러므로 total_price 컬름의 값을 모두 더하면 매장 전체 매출을 구할 수 있습니다. 이를 직접 진행해보시고, 결과는 total_sales라는 변수에 저장해서 출력해주세요.
- 결과를 출력할 때 소수 점 아래로는 출력하지 않고, 세 자리마다 콤마를 찍어주세요. (7점)

In [29]:
# total_price 합계 계산
total_sales = pizza_orders_df['total_price'].sum()

# 결과 출력 (소수점 제거 및 세 자리마다 콤마 추가)
print(f"총 매출: {total_sales:,.0f}원")

총 매출: 1,140,882,200원

3.3 total_days와 total_sales를 활용하여 하루 평균 매출을 구해주세요. 3.2에서 했던 것과 같이, 소수 점 아래로는 출력하지 않고, 세 자리마다 콤마를 찍어주세요. (6점)

In [30]:
# 하루 평균 매출 계산
average_daily_sales = total_sales / total_days

# 결과 출력 (소수점 제거 및 세 자리마다 콤마 추가)
print(f"하루 평균 매출: {average_daily_sales:,.0f}원")

하루 평균 매출: 3,186,822원

3.4 이번에는  1년 동안 들어온 주문 횟수를 계산해보겠습니다. 주문은 아이디로 구분이 되며, order_id 컬럼의 unique 값 개수를 구하면 주문 수를 구할 수 있습니다. 이를 total_orders 변수에 저장하고, 주문 한 건당 금액의 평균 겂을 출력해주세요. (7점)

In [31]:
# 주문 수 계산
total_orders = pizza_orders_df['order_id'].nunique()

# 주문당 평균 금액 계산
average_order_price = total_sales / total_orders

# 결과 출력 (소수점 제거 및 세 자리마다 콤마 추가)
print(f"총 주문 수: {total_orders}건")
print(f"주문당 평균 금액: {average_order_price:,.0f}원")

총 주문 수: 21350건
주문당 평균 금액: 53,437원

3.5 피자 총판매량도 알아보겠습니다. quantity 컬럼에 적절한 함수를 적용하여 총판매량을 total_quantity변수에 저장해주고, 출력해주세요. (6점)

In [32]:
# quantity 합계 계산
total_quantity = pizza_orders_df['quantity'].sum()

# 결과 출력
print(f"피자 총 판매량: {total_quantity}판")

피자 총 판매량: 49574판

3.6 이어서 한 주문에서 피자를 많으면 몇 판까지 시켰는지 파악해 보겠습니다. order_id 컬럼 기준으로 groupby 한 뒤 quantity 컬럼에 대해 sum() 함수를 쓰면 주문당 피자 개수를 구할 수 있습니다. 이어서 sort_values() 함수로 내림차순 정렬하면 피자를 많이 시킨 순서대로 결과를 볼 수 있습니다. 주문 아이디 18845가 최상단에 출력이 된다면 맞게 진행하신겂니다. (6점)

In [33]:
# 주문당 피자 개수 합계 계산 후 내림차순 정렬
max_pizzas_per_order = (
    pizza_orders_df.groupby('order_id')['quantity'].sum()
    .sort_values(ascending=False)
)

# 상위 5개 확인 (18845가 최상단인지 확인)
print(max_pizzas_per_order.head())

order_id
18845    28
10760    25
18513    15
21158    15
20163    15
Name: quantity, dtype: int64

3.7 마지막으로, 28판 시킨 주문이 어떤 주문이었는지 확인해보겠습니다. pizza_orders_df에서 order_id가 18845와 일지하는 행들만 출력해주세요. (6점)

In [34]:
# order_id가 18845인 행만 필터링
order_18845 = pizza_orders_df[pizza_orders_df['order_id'] == 18845]

# 결과 출력
print(order_18845)

       order_id     order_timestamp  order_details_id         pizza_id  \
41491     18845 2023-11-18 21:10:53             41492        bbq_ckn_m
41492     18845 2023-11-18 21:10:53             41493       big_meat_l
41493     18845 2023-11-18 21:10:53             41494       big_meat_s
41494     18845 2023-11-18 21:10:53             41495        bulgogi_l
41495     18845 2023-11-18 21:10:53             41496    classic_dlx_m
41496     18845 2023-11-18 21:10:53             41497    classic_dlx_s
41497     18845 2023-11-18 21:10:53             41498   green_garden_m
41498     18845 2023-11-18 21:10:53             41499       hawaiian_l
41499     18845 2023-11-18 21:10:53             41500       hawaiian_m
41500     18845 2023-11-18 21:10:53             41501       hawaiian_s
41501     18845 2023-11-18 21:10:53             41502      pepperoni_m
41502     18845 2023-11-18 21:10:53             41503      pepperoni_s
41503     18845 2023-11-18 21:10:53             41504         potato_l
41504     18845 2023-11-18 21:10:53             41505         potato_m
41505     18845 2023-11-18 21:10:53             41506     spin_pesto_s
41506     18845 2023-11-18 21:10:53             41507  super_supreme_l
41507     18845 2023-11-18 21:10:53             41508  super_supreme_s
41508     18845 2023-11-18 21:10:53             41509       thai_ckn_l
41509     18845 2023-11-18 21:10:53             41510       thai_ckn_m

       quantity  pizza_name size  price  total_price category  \
41491         3   바비큐 치킨 피자    M  22000        66000       치킨
41492         1     빅 미트 피자    L  34000        34000      클래식
41493         2     빅 미트 피자    S  11300        22600      클래식
41494         1      불고기 피자    L  32300        32300      스페셜
41495         1  클래식 디럭스 피자    M  20300        20300      클래식
41496         1  클래식 디럭스 피자    S  10800        10800      클래식
41497         1    그린 가든 피자    M  21800        21800    베지테리언
41498         2     하와이안 피자    L  33800        67600      스페셜
41499         2     하와이안 피자    M  21800        43600      스페셜
41500         2     하와이안 피자    S  11000        22000      스페셜
41501         3     페퍼로니 피자    M  18300        54900      클래식
41502         1     페퍼로니 피자    S   9300         9300      클래식
41503         1     포테이토 피자    L  33800        33800      스페셜
41504         1     포테이토 피자    M  21800        21800      스페셜
41505         1  시금치 페스토 피자    S  13800        13800    베지테리언
41506         1   슈퍼 슈프림 피자    L  32300        32300      클래식
41507         1   슈퍼 슈프림 피자    S  10800        10800      클래식
41508         2    타이 치킨 피자    L  36800        73600       치킨
41509         1    타이 치킨 피자    M  24000        24000       치킨

                                ingredients
41491              치킨, 피망, 토마토, 적양파, 바비큐 소스
41492              베이컨, 토마토, 페퍼로니, 살라미, 초리조
41493              베이컨, 토마토, 페퍼로니, 살라미, 초리조
41494      불고기, 불고기 소스, 버섯, 양파, 피망, 모짜렐라 치즈
41495           토마토, 페퍼로니, 버섯, 적양파, 피망, 베이컨
41496           토마토, 페퍼로니, 버섯, 적양파, 피망, 베이컨
41497    가지, 아티초크, 토마토, 쥬키니, 피망, 마늘, 페스토 소스
41498               토마토, 베이컨, 파인애플, 모짜렐라 치즈
41499               토마토, 베이컨, 파인애플, 모짜렐라 치즈
41500               토마토, 베이컨, 파인애플, 모짜렐라 치즈
41501                    토마토, 모짜렐라 치즈, 페퍼로니
41502                    토마토, 모짜렐라 치즈, 페퍼로니
41503  모짜렐라 치즈, 토마토, 감자, 양파, 베이컨, 옥수수, 마요네즈
41504  모짜렐라 치즈, 토마토, 감자, 양파, 베이컨, 옥수수, 마요네즈
41505  시금치, 아티초크, 토마토, 썬드라이 토마토, 마늘, 페스토 소스
41506       페퍼로니, 토마토, 적양파, 그린 올리브, 옥수수, 마늘
41507       페퍼로니, 토마토, 적양파, 그린 올리브, 옥수수, 마늘
41508           치킨, 파인애플, 토마토, 피망, 타이 칠리 소스
41509           치킨, 파인애플, 토마토, 피망, 타이 칠리 소스

##END
수고하셨습니다.

다음 구글폼에 .ipynb 파일 형식으로 제출해주세요.
https://docs.google.com/forms/d/1MeKTUtoUvWv64kRmD2yjMt8xvFF5Q1hcNeyPRs4nhlI/viewform

앞으로 남은 면접도 잘 보시길 바랍니다!